<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/p1 (2).jpg">
       
    <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
         <p>{{errorMsg}}</p>
       <!--to directly inject the dynamic content without using partial files
       <p>node course: {{name}}</p> -->     
               </div>
        {{>footer}}
    </body>
</html>